@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 17px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
  background: #3f3e3e;
  border: 1px solid #fff;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
  background: #B76E79;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
  border: 1px solid #fff;
  }
